/* -------------------------------------------------------------- 

Appointment To View - 1.0 - 17/11/2010

Title: Main presentation
Author: andrew@rattlecentral.com

-------------------------------------------------------------- */


/* Body
----------------------------------------------------------------*/

body {
	text-rendering:optimizeLegibility; 
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;	
	font-size: 87.5%;		/* 14px */
	line-height: 1.4286;	/* 20px Baseline grid */
	color:#000; 
	color: rgba(0,0,0,0.8); 
	background: #fff;
	position: relative;
	}


/* Global
----------------------------------------------------------------*/

hr {display: none;}

abbr {border: none;}
abbr[title="and"] {font-style: italic;}
img {max-width: 100%;}

ul, ol {list-style-type: none;}

pre {
	 white-space: pre-wrap;       /* css-3 */
	 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	 white-space: -pre-wrap;      /* Opera 4-6 */
	 white-space: -o-pre-wrap;    /* Opera 7 */
	 word-wrap: break-word;       /* Internet Explorer 5.5+ */
	}



/* links */

a { color: #2396dc; text-decoration: none; }
a:hover { text-decoration: underline; }



a.button {
	/*
	background: rgba(255,255,255,0.4); 
	padding: 3px;
	text-transform: uppercase;
	font-size: 0.688em;
	letter-spacing: 0.125em;
	*/
	}

a.special {font-style: italic;}

/* end links */


p {margin: 0 0 1em 0;}


/* Headers
----------------------------------------------------------------*/

h1,h2,h3,h4,h5,h6 {}


h2 {font-size: 1.500em; margin-bottom: 1.33em /* 28px */}

h3 {}



/* Header
----------------------------------------------------------------*/



header {
	
	position: relative; 
	border-bottom: 1px solid #ccc;
	padding-bottom: 2em;
	
	width: 100%;
	margin: 4em auto 2em auto;
	overflow: hidden;
	}


header h1 {font-size: 3em; background: url(../images/we-watch-icon.png) no-repeat 0 20%; }
header h1 a {color: #000; display: inline-block; padding: 10px 40px 5px 85px; background: url(../images/beta.png) no-repeat 100% 45%; }
header h1 a:hover {color: #2396dc; text-decoration: none; }
	

header h2 {font-size: 1em; color: #777; font-weight: normal;}
header h3 {float: left; font-size: 1em;}
header h3 a {font-weight: normal; display: inline-block; margin-left: 1em; font-size: 0.865em;}

header form {float: right;}
header form label {font-size: 0.857em; font-weight: bold;}
header form input[type="search"] {width: 200px; margin: 0 0.5em;}

header p {
	color: #777;
	font-size: 0.857em;
	position: absolute;
	right: 0;
	top: 32px;
	}

/* Main content
----------------------------------------------------------------*/

div.page-header {margin-bottom: 2em;}
div.page-header h1 {display: inline; margin-right: 2em;}

section.programme-list {position: relative; overflow: hidden; border-bottom: 1px solid #ccc; padding-bottom: 2em; margin-bottom: 2em; clear: both;}

.programme-list ol {overflow: visible; margin-bottom: 2em;}
.programme-list ol li {position: relative;}
.programme-list ol li.watching {}

/* removing this as we now have the carousel
 .programme-list ol li:nth-child(6n+6){margin: 0} */

.programme-list h3 {font-size: 1.143em;}

.programme-list h3 a {
	color:#000; 
	color: rgba(0,0,0,0.8);
	text-decoration: none;	
	}

.programme-list h3 a:hover {
	color: #2396dc;
	}

.programme-list ol li a.viewer-total {
	position: absolute;
	color: #3b570a;
	background: #96c926;
	text-shadow: 0 1px 0 rgba(255,255,255,0.7);
	top: -5px;
	right: -5px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	padding-top: 8px;
	height: 27px;
	width: 35px;
	-moz-border-radius: 70px;
	-webkit-border-radius: 70px;
	}
	
.programme-list ol li a.viewer-total:hover {text-decoration: none;}
	
p.viewer-names, p#about-text {font-size: 0.857em; color: #999;}
p.viewer-names strong {color: #777;}

/* about text and link - show and hide */
p#about-text {display: none; padding-bottom: 2em; border-bottom: 1px solid #ccc;}
a.about {margin: 2em 0 0 0; display: block;}

#watchers ul.viewer-names, a.about {font-size: 0.857em;}
#watchers ul.viewer-names li {display: inline; margin-right: 4px;}


.programme-list ol li span.channel {display: block; font-weight: bold; margin-bottom: 0.5em; margin-top: 0.25em;}
span.description, span.prog-length {font-size: 0.857em; color: #999; display: block;}
span.prog-length {margin: 0.5em 0;}

span.channel img {vertical-align: text-top; display: inline-block; margin-top: 1px;}

#watchers span.description, #watchers span.prog-length {margin: 0.5em 0;}
#watchers p {margin: 0 0 1em 0;}

#watchers a.jqmClose {display: block; border-top: 1px solid #ddd; padding: 1em 0 0 0;}

p.more-programmes {
	position: absolute;
	display: block;
	right: 30px;
	top: -55px;
	}

p.more-programmes a {
	font-weight: bold;
	font-size: 0.857em;
	padding: 4px 12px;
	background: #fff;
	cursor: pointer;
	}
		
p.more-programmes a:hover {
	color: #777; 
	text-decoration: none;
	-moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	/*-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.1) inset;*/
	background: #eee;
	}

p.more-programmes a.disabled {color: #999; cursor: default; font-weight: normal;}
p.more-programmes a.disabled:hover {background: #fff; color: #999; }

.username {color: #2396dc; font-weight: bold; margin-right: 5px;}

a.watch-toggle {
	font-size: 0.857em;
	color: #fff;
	font-weight: bold;
	background: #1f85c3;
	padding: 5px 32px 5px 16px;
	overflow: visible;
	margin: 0.5em 0 0 28px;
	position: relative;
	display: inline-block;
	
	-webkit-border-bottom-right-radius: 14px;
	-webkit-border-top-right-radius: 14px;
	-moz-border-radius-bottomright: 14px;
	-moz-border-radius-topright: 14px;
  	
  	-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.1) inset;
	}
	
a.watch-toggle:hover {text-decoration: none; background: #3aa7e9;}

a.watching {background: #739310 url(../images/tick-mark.png) no-repeat 85% 45%;}
a.watching:hover {background: #8bb214 url(../images/tick-mark.png) no-repeat 85% 45%; }
a.watching span.count {background: #526613;}

input#intention_submit {
	font-size: 0.857em;
	color: #fff;
	font-weight: bold;
	background: #1f85c3;
	padding: 5px 16px 5px 16px;
	overflow: visible;
	margin: 1em 0 0 0;
	position: relative;
	float: left;
	border: 0;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
  	
  -webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.1) inset;
	cursor: pointer;
	
}

a.jqmClose { margin-left: 50px; margin-top: 13px; display: block; float: left;}

input#intention_submit:hover {
  background: #8bb214;
}

span.count {
	color: #fff;
	-webkit-border-bottom-left-radius: 14px;
	-webkit-border-top-left-radius: 14px;
	-moz-border-radius-bottomleft: 14px;
	-moz-border-radius-topleft: 14px;
	background: #106293;
	padding: 5px 10px 5px 12px;
	font-weight: bold;
	display: inline-block;
	position: absolute;
	z-index: 1;
	left: -28px;
	top: 0px;
	}
	
div.programme {margin-bottom: 2em;}
h2 {margin-bottom: 1em;}
form.new_intention textarea {display: block; margin: 10px 0 10px 0;}	
	
/* Footer
----------------------------------------------------------------*/

footer {
	clear: both;
	padding: 0;
	
	position: relative; 
	
	width: 100%;
	margin: 2em auto 4em auto;
	overflow: hidden;
  	}
  	
  	
  
footer h4 {font-weight: bold; }

footer p {margin: 0; position: relative; font-size: 0.857em; }
footer p span {position: absolute; right: 0;}


/* Error message
----------------------------------------------------------------*/

.error {
	padding: 1em;
	background: #fdfde6;
	position: relative; 
	
	width: 100%;
	margin: 2em auto;
	overflow: hidden;
  	}
  	
.error p {margin: 0;}
.error p span {color: #942525;}


/* Forms
----------------------------------------------------------------*/

	
/* If you want Safari to recognise any styling to a search field
input[type="search"] { -webkit-appearance: textfield; } */


/* Modal window
----------------------------------------------------------------*/

.window {
	position:absolute;
  	width: 380px;
  	display: none;
  	z-index: 9999;
  	padding: 2em;
  	background: #fff;
  	border: 5px solid rgba(0,0,0,0.3);
  	-moz-border-radius: 7px;
  	-webkit-border-radius: 7px;
  	-webkit-box-shadow: 1px 1px 8px rgba(0,0,0,0.3);
	}


.window h4, .window ul {margin-bottom: 1em;}

.window p {margin: 1em 0 0 0;}
.window p a {margin-right: 1em;}

.window textarea {font-size: 1em; font-family: Helvetica, sans-serif; padding: 4px; color: #999; margin: 1em 0 0.5em 0; width: 100%;}
label {font-weight: bold;}
input#share-send {margin-right: 1em; vertical-align: middle;}
.window a {vertical-align: middle;}


/* Media Queries
----------------------------------------------------------------*/


/*layouts larger than 900px*/	
@media screen and (min-width: 920px) {
	

}

/*layouts larger than 900px*/
@media screen and (min-width: 920px) {
	
}

@media screen and (min-width: 1500px) {
	
	}
	
/*Just iPhone*/
@media only screen and (max-device-width: 480px) {

	.one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten, .eleven, .twelve {
	width: 100%;
	width: -moz-available;
	margin-left: 0px;
	margin-right: 0px;
	}
	
}
	
/*iPad styles*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

	/* The 966px Grid */

	.container {
		padding-left: 20px;
		padding-right: 20px;
		width: 966px;
		margin: 0 auto;
		}
	
	.row {
		width: 100%;
		margin: 0 auto;
		overflow: hidden;
		}
		
	.one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten, .eleven {margin-right: 30px; float: left;}

	.one {width: 53px;}
	.two {width: 136px;}
	.three {width: 219px;}
	.four {width: 302px;}
	.five {width: 385px;}
	.six {width: 468px;}
	.seven {width: 551px;}
	.eight {width: 634px;}
	.nine {width: 717px;}
	.ten {width: 800px;}
	.eleven {width: 883px;}
	.twelve {width: 100%; float: left;}
	
		
	}
	
	
/* Layout for mobile version */

@media handheld, only screen and (max-width: 767px) {
	
	.row, .body	 {
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
	}
	
	.one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten, .eleven, .twelve {
	width: 46.2%;
	width: -moz-available;
	margin-left: 0px;
	margin-right: 0;
	}
	
	header {margin-top: 1em;}
	header h3 {float: none; margin-bottom: 1em;}
	header form {float: none; margin-bottom: 1em;}
	header p {position: relative; top: 0;}
	
	.programme-list ol li {position: relative; min-height: 150px;}
	.programme-list ol li.last {margin-right: 0;}
	.programme-list ol li h3 {border-top: 1px solid #ccc; padding-top: 1em; margin-top: 1em;}
	a.watch-toggle {position: relative;}
	a.watch-toggle span {padding-bottom: 3px;}

}


/* Provide higher res assets for iPhone 4 */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/* An example of how to override an image with one twice the size for iPhone 4. Specify the original pixel size with background-size.
.download {
background: url(../img/downarrow@2x.png) no-repeat;
background-size: 27px 28px;
}
*/

}


