
<% @broadcasts.each_with_index do |broadcasts, index| %>
<hr/>
<section class="row programme-list">
  <h2><%= @broadcast_titles[index] %></h2>

  <%= content_tag("ol") do %>
    <% broadcasts.each do |broadcast| %>
      <%= render :partial => "broadcast", :locals => {:broadcast => broadcast} %>
    <% end %>
  <% end %>
</section>
<% end %>
