<div id="redirect">
<p>Updating your friends list, please wait ....</p>
<p class="link">If your browser doesn't redirect you please <%= link_to 'click here', processing_path %> to continue.</p>
</div>
